@import './_variables.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url('../assets/gramercy_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overscroll-behavior: none;
  font-family: var(--font-family-primary);
  color: var(--primary-text-color);
  height: 100vh;
  min-width: 100%;

  text-align: center;
}

h1 {
  margin: var(--space-lg);
}

h3 {
  font-weight: var(--font-weight-x-light);
  margin: var(--space-md);
  line-height: 1.75rem;
}

p {
  font-weight: var(--font-weight-thin);
  margin: var(--space-lg);
}

button{
  cursor: pointer;
  border-style: solid;
}

input{
    font-family: var(--font-family-primary);
    text-align: center;

    background-color: transparent;
    border: none;
    padding: 0 var(--space-md) 0 var(--space-lg);
  }

input:focus{
  outline: none;
}

.media-canvas{
  max-width: var(--canvas-size);
  border-radius: var(--border-radius);
  margin: var(--space-md)  
}

.container{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 100vh;
  width: 100vw;
}

.main{
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex: 3;
}


@media (max-width: 600px){
  .media-canvas{
     max-width: var(--canvas-size-mb);
  }
}